html,
body,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  color: #fff;
  --len: 20s;
}

.intro {
  position: relative;
  min-height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.intro p {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 100%;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
}

.intro p.top {
  -webkit-animation: fade-1 ease var(--len);
          animation: fade-1 ease var(--len);
  top: 60px;
  font-size: 12px;
}

@media only screen and (min-width: 1200px) {
  .intro p.top {
    top: 120px;
    font-size: 18px;
  }
}

.intro p.bottom {
  -webkit-animation: fade-4 ease var(--len);
          animation: fade-4 ease var(--len);
  font-size: 10px;
  bottom: 20px;
}

@media only screen and (min-width: 1200px) {
  .intro p.bottom {
    font-size: 12px;
    bottom: 40px;
  }
}

.intro h1 {
  margin: auto auto 40px;
  font-weight: 100;
  letter-spacing: 12px;
  text-transform: uppercase;
  text-align: center;
  -webkit-animation: fade-2 ease var(--len);
          animation: fade-2 ease var(--len);
  font-size: 32px;
}

@media only screen and (min-width: 1200px) {
  .intro h1 {
    font-size: 64px;
  }
}

.intro span {
  margin: 0 auto auto;
  text-transform: uppercase;
  -webkit-animation: fade-3 ease var(--len);
          animation: fade-3 ease var(--len);
  font-size: 14px;
}

@media only screen and (min-width: 1200px) {
  .intro span {
    font-size: 16px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  -webkit-animation: fade-3 ease var(--len);
          animation: fade-3 ease var(--len);
  color: #dfdfdf;
}

@media only screen and (min-width: 1200px) {
  .content {
    max-width: calc(100% - 600px);
    margin: 0 auto;
  }
}

.content * + * {
  margin-top: 40px;
}

.content p {
  line-height: 1.6;
  font-size: 18px;
  width: 720px;
  max-width: 100%;
}

.content img {
  width: 100%;
  max-width: 600px;
}

.content img.poster {
  max-width: 600px;
}

@media only screen and (min-width: 1200px) {
  .content iframe {
    position: fixed;
    right: 0;
    bottom: 0;
    -webkit-animation: spotify ease 2s;
            animation: spotify ease 2s;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.gallery a {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1200px) {
  .gallery a {
    width: calc(100% / 3);
    padding-bottom: calc(100% / 3);
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

@media only screen and (min-width: 640px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer a {
  padding: 10px;
  color: grey;
  text-align: center;
}

@-webkit-keyframes fade-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  10% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade-2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  10% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade-3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-4 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-4 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-5 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-5 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spotify {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes spotify {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
