@mixin tablet {
	@media only screen and (min-width: 640px) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: 1200px) {
		@content;
	}
}

html,
body,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	width: 100%;
	background-color: #000;
	color: #fff;
	--len: 20s;
}

.intro {
	position: relative;
	min-height: 50vh;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// font-family: Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: 0.2rem;
	user-select: none;

	p {
		position: absolute;

		left: 50%;
		transform: translateX(-50%);
		max-width: 100%;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.6;

		&.top {
			animation: fade-1 ease var(--len);

			top: 60px;
			font-size: 12px;
			@include desktop {
				top: 120px;
				font-size: 18px;
			}
		}

		&.bottom {
			animation: fade-4 ease var(--len);

			font-size: 10px;
			bottom: 20px;
			@include desktop {
				font-size: 12px;
				bottom: 40px;
			}
			// opacity: 0;
		}
	}

	h1 {
		margin: auto auto 40px;
		font-weight: 100;
		letter-spacing: 12px;
		text-transform: uppercase;
		text-align: center;
		animation: fade-2 ease var(--len);

		font-size: 32px;
		@include desktop {
			font-size: 64px;
		}
	}

	span {
		margin: 0 auto auto;
		text-transform: uppercase;
		animation: fade-3 ease var(--len);

		font-size: 14px;
		@include desktop {
			font-size: 16px;
		}
		// opacity: 0;
	}
}

.content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 40px;
	animation: fade-3 ease var(--len);
	color: rgb(223, 223, 223);

	@include desktop {
		max-width: calc(100% - 600px);
		margin: 0 auto;
	}

	* + * {
		margin-top: 40px;
	}

	p {
		line-height: 1.6;
		font-size: 18px;
		width: 720px;
		max-width: 100%;
	}

	img {
		width: 100%;
		max-width: 600px;

		&.poster {
			max-width: 600px;
		}
	}

	iframe {
		@include desktop {
			position: fixed;
			right: 0;
			bottom: 0;
			animation: spotify ease 2s;
		}
	}
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;

	a {
		margin: 0;
		padding: 0;
		width: 50%;
		height: 0;
		padding-bottom: 50%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@include desktop {
			width: calc(100% / 3);
			padding-bottom: calc(100% / 3);
		}
	}
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;

	@include tablet {
		flex-direction: row;
	}

	a {
		padding: 10px;
		color: grey;
		text-align: center;
	}
}

@keyframes fade-1 {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-2 {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
	10% {
		opacity: 0;
		transform: scale(0.8);
	}
	20% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes fade-3 {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-4 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-5 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes spotify {
	0% {
		right: -100%;
	}
	100% {
		right: 0;
	}
}
